.wrapper-register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.card-register {
  width: 30%;
}

.register-btn {
  margin-bottom: 50px;
}

form.Group {
  padding: 100px;
}

.button-checkbox {
  display: flex;
}

.form-group {
  padding-left: 15px;
}

.mb-3 {
  padding: 5px;
}
