.card-login {
  width: 20vw;
}

.btn-form {
  padding: 25px;
  width: 100%;
}

.login-btn {
  width: 100%;
  margin-bottom: 60px;
  background-color: #61147a;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.text-muted {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
