.font-weight-bold {
  color: aliceblue;
  padding-top: 17px;
  padding-left: 20px;
}

.Logo-top {
  width: 15%;
  height: 15%;
  margin: 0px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0px;
}

.big-looser {
  color: rgb(0, 51, 117);
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(255, 94, 0);
}

.big {
  color: rgb(136, 0, 0);
  font-weight: 700;
}

.big-looser:hover {
  color: rgb(0, 183, 255);
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
}

.toggle-icon {
  color: white;
  color: black;
}

.navbar {
  padding-right: 200px;
  padding-left: 200px;
}

.navbar-form {
  color: rgb(0, 51, 117);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-form:hover {
  color: rgb(0, 183, 255);
}

.first {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 50px;
}

.second {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 50px;
  padding-left: 50px;
}

.third {
  padding-right: 50px;
}
