ul {
  list-style-type: none;
  margin: 0px;
}

li a {
  display: block;
}

li {
  float: left;
}

.sessionName {
  margin-right: 35px;
  padding-left: 150px;
  font-weight: 700;
  margin-top: 4px;
  font-size: 20px;
  color: rgb(136, 0, 0);
}

.navbar-logo {
  display: flex;
  background-color: whitesmoke;
}

.Logo-top {
  width: 20%;
  margin: 0px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0px;
}

.big-looser {
  color: rgb(0, 51, 117);
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(255, 94, 0);
}

.big {
  color: rgb(136, 0, 0);
  font-weight: 700;
}

.big-looser:hover {
  color: rgb(0, 183, 255);
  text-decoration: none;
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
}

.toggle-icon {
  color: white;
  color: black;
  margin-left: 20px;
  margin-top: 15px;
}

.toggle-icon-hidden {
  visibility: hidden;
}

.logo-main {
  display: flex;
  flex-grow: 1;
  margin-left: 10px;
}

.navbar-form {
  display: flex;
  flex-grow: 20;
  justify-content: flex-end;
  color: rgb(0, 51, 117);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 7px;
  margin-right: 30px;
}

ul li a:hover {
  color: rgb(0, 183, 255);
  text-decoration: none;
}

ul li a .first {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 50px;
}

.second {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 50px;
  padding-left: 50px;
}

.third {
  padding-right: 50px;
}

@media (max-width: 600px) {
  .toggle-icon {
    color: white;
    color: black;
    width: 20px;
    margin-left: 10px;
    margin-top: 7px;
  }

  ul{
    margin-top: 3px;
  }

  .sessionName {
    margin-right: 0px;
    padding-left: 0px;
    margin-top: 6px;
    font-weight: 400;
    font-size: 9px;
    color: rgb(136, 0, 0);
    text-align: end;
  }

  .big-looser {
    color: rgb(0, 51, 117);
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(255, 94, 0);
  }

  .Logo-top {
    width: 20%;
    margin: 0px;
    margin-right: 2px;
    margin-top: 0px;
    padding: 0px;
  }

  .logo-main {
    width: 25vw;
    margin-top: 13px;
  }

  .navbar-form {
    color: rgb(0, 51, 117);
    font-weight: 400;
    font-size: 6px;
    text-transform: uppercase;
    margin-top: 7px;
    margin-right: 10px;
  }

  .first {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 5px;
  }

  .second {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 5px;
    padding-left: 5px;
  }

  .third {
    padding-right: 5px;
  }
}
