.font-weight-bold {
  color: aliceblue;
  padding-top: 17px;
  padding-left: 20px;
}

.Logo-top {
  width: 15%;
  height: 15%;
  margin: 0px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0px;
}

.big-looser {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
}

.toggle-icon {
  color: white;
}
