.card-login {
    width: 20vw;
    border-radius: 10px;
    border: solid 1px black;
  }
  
  .btn-form-pass {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .pass-btn {
    width: 100%;
    background-color: #79589f;
    margin-top: 15px;
  }

  
  .card-title-pass {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #534292;
      padding: 0px;
      margin-top: 20px;
      margin-bottom: 30px;
    
    }
    
  .card-text-pass{
    font-size: small;
    color: black;
    padding: 0px;
    }

  .formInput-pass {
    display: flex;
    flex-direction: column;
    color: red;
  }
  
  .hide-error-network {
    background: rgba(255, 255, 255, 0);
  }
  
  .show-error-network {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    transition: background 0.5s ease-out;
    background: #d64242;
    border-radius: 5px;
    color: white;
    padding: 10px 30px 10px 30px;
    text-align: center;
    margin-bottom: 15px;
  }
  .showErrorMessage {
    margin-top: 5px;
    background: rgba(127, 127, 127, 0.1);
    border-radius: 5px;
    transition: background 2s ease-out;
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: red;
    padding: 5px 10px 5px 10px;
  }
  
  .hideErrorMessage {
    background: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255, 0);
  }
  
  @media (max-width: 600px) {
    .card-login {
      width: 100%;
    }
  }
  